---
// src/pages/index.astro
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import PostCard from "../components/PostCard.astro";

const posts = (await getCollection("posts"))
  .filter((p) => !p.data.draft)
  .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
---

<BaseLayout title="Prosenjith’s Notes">
  <!-- Intro Section -->
  <section class="mt-8 md:mt-12">
    <div class="prose prose-neutral dark:prose-invert max-w-none">
      <h1 class="text-3xl font-bold tracking-tight">Hi, I’m Prosenjith 👋</h1>
      <p class="mt-3">
        I’m a Software Engineer passionate about building brilliant apps, teaching
        machines to think, and exploring the secrets of the universe. This blog is
        my space to share ideas, projects, and thoughts on topics that inspire me —
        from building mobile apps to exploring the universe.
      </p>
    </div>
  </section>

  <!-- Blog posts -->
  <section class="space-y-8 mt-8">
    {posts.map(({ slug, data }) => (
      <PostCard
        href={`/posts/${slug}/`}
        title={data.title}
        description={data.description}
        date={data.pubDate.toDateString()}
        tags={data.tags}
      />
    ))}
  </section>
</BaseLayout>
